{
  "printWidth": 100,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "singleQuote": true,
  "semi": true,
  "jsxSingleQuote": true,
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
