@tailwind base;
@tailwind components;
@tailwind utilities;

:root .prose {
  --tw-prose-headings: hsl(var(--n));
  --tw-prose-body: hsl(var(--n));
  --tw-prose-links: hsl(var(--a));
  --tw-prose-pre-bg: hsl(var(--b-100));
  --tw-prose-pre-code: hsl(var(--n));
}

.mockup-code {
  @apply pb-0 bg-base-300 text-neutral
}

.mockup-code pre {
  @apply py-0 my-0
}